#bar {
    padding: 0 1em;
}

.navbar-brand {
  color: white !important;
  font-size: 7vh;
}

.main-title {
    margin-top: 1em;
    padding-bottom: 3em;
}

.endereco {
	position: relative;
	bottom: 4em;
}

.body {
    position: relative;
    bottom: 45px;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: black;
}

main {
	margin-top: 5em;
}

.h1 {
    font-family: 'Permanent Marker', cursive !important;
    text-shadow:black -3px -3px;

}

.defalt-titles {
    font-size: 2.5em;
    font-family: 'Permanent Marker', cursive !important;
}


.defalt-col {
	background-color: whitesmoke;
	border-bottom:solid darkgray 5px;
	padding: 2em 0;
	border-radius: 1em;
	margin-bottom: 2em;
    align-content: center;
    box-sizing: initial !important;
    width: 100%;
}

.defalt-paragraf {
	margin: 1.5em 3em 1.5em 3em;
}

.main-li {
	list-style: disc;
}

.paral {
min-height: 600px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
}

.paral h1 {
color: rgba(255, 255, 255, 0.8);
font-size: 70px;
text-align: center;
padding-top: 160px;
line-height: 100px;
}

.paralsec {
background-image: url("https://cdn.pixabay.com/photo/2015/09/09/21/12/monitor-933392_960_720.jpg");
/* background-image: linear-gradient(to bottom right, aquamarine, #567529) */
}

.jumbotron{
    margin-bottom: 0;
}

/* .wn-footer {
padding: 2.5rem 0;
text-align: center;
color: white;
border-top: .05rem solid #e5e5e5;
} */

.card {
    padding: 1em;
    border: darkgray solid 1px;
}

.card-img-top{
  border: darkgray solid 1px;
}

.card-title {
    margin-top: 1em;
}

footer h4{
  color: white !important;
  font-family: 'Permanent Marker', cursive !important;
  font-size: 2.5em;
}

#contact{
    color: yellow;
}

.row2{
  margin-left: 20px;
  margin-right: 20px;
}

.row10{
 background-color: whitesmoke;
 display: flex;
 margin: 2em;
}

#formation-col{
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: -50px;
  font-size: 3vh;
}

#welcome-col{
  margin-left: 3vh;
  margin-right: 4vh;
}

.h2c{
  color: white;  
}
